<h1>Makes</h1>
  <p>
    <strong>Total number of makes: </strong>
    <%= @count %>
  </p>
  <h2>Makes:</h2>
  <% @makes.each do |make| %>
    <h3><%=link_to make.name.humanize, make%></h3>

  <% end %>